p {
  color: black;
  font-family: Trebuchet MS;
  font-size: 100%;
  text-shadow: #808080 1px 1px 1px
}
body {
  font-family: Trebuchet MS;
  color: black;
  text-align: center;
}

h1 {
  font-size: 300%;
  text-shadow: #808080 1px 1px 1px;
}
h2 {
  font-size: 200%;
  text-shadow: #808080 1px 1px 1px;
}
h3 {
  font-size: 150%;
  font-family: Courier New;
  text-shadow: #808080 1px 1px 1px;
}
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff
}
a:hover {
  color: grey;
}
a:active {
  color: gray;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #000000;
  border-bottom: 16px solid #000000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.hover {
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-family: Trebuchet MS;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-shadow: #808080 1px 1px 1px;
}

.hover span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hover span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hover:hover span {
  padding-right: 25px;
}

.hover:hover span:after {
  opacity: 1;
  right: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.about {
  font-family: Courier New, Courier, monospace;
  margin-left: 100px;
  margin-right: 100px;
}
